@using System.Runtime.InteropServices
@model IEnumerable<StackExchange.Redis.RedisValue>
<h2>Latest users added</h2>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            <li>@item</li>
        }
    </ul>
}
else
{
    <div class="well">
        No users
    </div>
}


