@{
    var users = ViewBag.Users as IEnumerable<AspNetCoreMvc.Redis.ViewModels.UserCreatedViewModel>;
    var scores = ViewBag.Scores as IEnumerable<AspNetCoreMvc.Redis.ViewModels.HighscoreViewModel>;
}
<div class="row">
    <div class="col-md-6">
        <h2>Latest users added (top 5)</h2>
        @if (users.Any())
        {
            <ol>
                @foreach (var item in users)
                {
                    <li>@string.Format("{0} {1} @{2}", item.FirstName, item.LastName, item.CreatedOn)</li>
                }
            </ol>
        }
        else
        {
            <div class="well">
                No users
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Highscores (top 5)</h2>
        @if (scores.Any())
        {
            <ol>
                @foreach (var item in scores)
                {
                    <li>@string.Format("{0} {1} @{2}", item.FirstName, item.LastName, item.Score)</li>
                }
            </ol>
        }
        else
        {
            <div class="well">
                No users
            </div>
        }
    </div>
</div>